<section class="gh-dashboard-resource gh-dashboard-community">
    <a href="https://ghost.org/resources/community/" target="_blank" rel="noopener noreferrer" class="gh-dashboard-resource-box">
        <div class="gh-dashboard-resource-title">
            <h4>Comunidad de creadores de Ghost</h4>
        </div> 
        <div class="gh-dashboard-resource-body">
            <div class="gh-dashboard-list">
                <div class="gh-dashboard-list-body">
                    <p>La estrategia de hablar.<br />Consigue consejos.<br />O simplemente pasar el rato.</p>
                </div>
            </div>
        </div>
        <div class="gh-dashboard-resource-footer">
            Compartir el viaje &rarr;
        </div>
    </a>
</section>
